
body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-image: url("img/arkaplan.jpg");
    background-size: cover;
    background-position: center;
}


nav {
    background-color: #343a40; 
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 20px;
}


.navbar-nav .nav-item .nav-link:hover {
    background-color: #C62300;
    color: #fff;
}


.box {
    width: 550px;
    height: auto;
    background: #45474B;
    padding: 40px;
    text-align: center;
    margin: 50px auto;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20px; 
}


.box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;
}

.box img:hover {
    transform: scale(0.9);
}


.box h1 {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #C62300;
}

.box h5 {
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #F14A00;
}

.box p {
    text-align: justify;
    font-size: 16px;
    color: #ddd;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.box li {
    margin: 0 10px;
}

.box li a {
    color: #fff;
    font-size: 30px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #C62300;
    transform: scale(1.1); 
}


@media (max-width: 768px) {
    .box {
        width: 90%;
        padding: 30px;
    }

    .box img {
        width: 150px;
        height: 150px;
    }

    .box h1 {
        font-size: 28px;
    }

    .box h5 {
        font-size: 18px;
    }

    .box p {
        font-size: 14px;
    }

}

.navbar-brand {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-item .nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

